data/
data_old/
data_v2/
data_old/
data_eccentric/
data_eccentric.zip
data_eccentric/
models/checkpoints
data_eccentric_merged/
data_v3/
**/__pycache__/
persondata/
models/wrongs
models/checkpoints
persondata.zip
persondata/
persondata_2/
20240412_1413data.zip
.vscode/c_cpp_properties.json
**.pyc
