data/
data_v2/
data_eccentric/
data_eccentric.zip
data_eccentric/
data_eccentric_merged/
**/__pycache__/
persondata/fef/低位/坐姿/1712477692.csv
persondata/fef/低位/坐姿/1712477692.mat
persondata/fef/低位/坐姿/1712477692.mp4
persondata/徐晟/高位/站姿到坐姿/1712478938.csv
persondata/徐晟/高位/站姿到坐姿/1712478938.mat
persondata/徐晟/高位/站姿到坐姿/1712478938.mp4
persondata/一/高位/站姿到坐姿/1712478947.csv
persondata/一/高位/站姿到坐姿/1712478947.mat
persondata/一/高位/站姿到坐姿/1712478947.mp4
models/wrongs
persondata.zip
persondata/
20240412_1413data.zip
